* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
.header {
    height: 80px;
    margin: 0 auto;
}
.header__container {
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}
.header__text {
    font-family: 'Tourney', cursive;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.04em;
    margin-right: 20px;
}
.header__logo {
    margin-top: 30px;
}
.header__nav {
    width: 261px;
    height: 20px;
}
.nav__list {
    display: flex;
}
.nav__list-link {
    text-decoration: none;
    color: #000000;
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
}
.title {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
}
.block__title {
    display: flex;
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 70px 0 40px 120px;
}
.link__blocks {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 30px;
    border-bottom: 1px solid #BFBFBF;
    padding: 15px 0;
    max-width: 1200px;
    height: 430px;
    margin: 15px auto;
    border-top: 1px solid #BFBFBF;
}
.flip__card {
    background-color: transparent;
    perspective: 1000px; 
}
.flip__card-inner {
    position: relative;
    width: 270px;
    height: 180px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip__card:hover .flip__card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, 
.flip-card-back {
    position: absolute;
    width: 270px;
    height: 180px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back {
    transform: rotateY(180deg);
}

@media (max-width: 1205px) {
    .link__blocks {
        grid-template-columns: repeat(3, 270px);
        justify-content: center;
    }
}
@media (max-width: 888px) {
    .link__blocks {
        grid-template-columns: repeat(2, 270px);
        justify-content: center;
    }
}
@media (max-width: 595px) {
    .link__blocks {
        grid-template-columns: repeat(1, 270px);
        justify-content: center;
    }
    .header__container {
        flex-direction: column;
        height: auto;
        align-items: center;
        margin-top: 30px;
    }
    .divider {
        display: none;
    }
    .block__title {
        justify-content: center;
        margin: 70px auto;
    }
}